.project-menu {
    width: 50rem;
    position: fixed;
    display: flex;
    top: 25%;
    left: 50%;
    transform: translateX(-60%); /*puts in middle*/
}

.project-items-container {
    flex-direction: column;
    display: flex;
    position: relative;
    width: 50%;
    margin-top: 12rem;
    align-items: flex-end;
}

.project-item {
    height: 3.75rem;
    width: 90%;
    display: flex;
    position: relative;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
}

.project-item.activeProject .title {
    font-size: 1.5rem;
}

.activeProject {
    border-radius: var(--radius-left);
    cursor: default;
}

.project-item.activeProject:nth-child(1) {
    background: linear-gradient(270deg, #ffffff00, var(--purple) 70%);
}
.project-item.activeProject:nth-child(2) {
    background: linear-gradient(270deg, #ffffff00, var(--blue) 70%);
}
.project-item.activeProject:nth-child(3) {
    background: linear-gradient(270deg, #ffffff00, var(--cyan) 70%);
}

.project-sub-container {
    width: 60%;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    margin-bottom: 10rem;
}
.project-sub-container h3 {
    position: relative;
    margin: 0;
}
.project-sub-container h5 {
    font-style: bold;
    font-size:1rem;
}
.project-sub-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5rem 3rem 0.5rem 0.5rem;
    opacity: 0.9;
    max-height: 300px;
}
.project-sub-container p {
    font-size: 0.9rem;
}

#description h5{
    /* color: white; */
    /* color: rgba(1, 255, 255, 0.768); */

   /*  color: rgb(134, 0, 83);
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: white; */

    color: rgba(255,255,255, 0.95);
    -webkit-text-stroke-width: 0.9px;
    -webkit-text-stroke-color: rgba(134, 0, 83, .9);
}

#course {
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
    /* color: rgba(2, 222, 222, 0.768); */
    /* color: rgb(134, 0, 83, 0.76); */
    color: rgba(255,255,255, 0.8);
    -webkit-text-stroke-width: 0.7px;
    -webkit-text-stroke-color: rgba(134, 0, 83, .7);
}

@media (max-width: 1100px) {
    .project-menu {
        width: 28rem;
        top: 20%;
        transform: translateX(-50%);
    }
    .project-item {
        height: 3rem;
        width: 100%;
    }
    .project-item.activeProject .title {
        font-size: 1rem;
        width: max-content;
    }
    .title {
        font-size: 0.8rem;
    }
    .project-sub-container img {
        width: 20rem;
    }
    .project-sub-container {
        font-size: 0.8rem;
        width: max-content;
        margin-bottom: 6rem;
    }
    .project-sub-container p,
    .project-sub-container h5 {
        font-size: 0.76rem;
    }
}
@media (max-width: 700px) {
    .project-menu {
        width: 28rem;
        flex-direction: column;
        align-items: center;
    }
    .project-menu p {
        font-size: 0.7rem;
        width: 100%;
    }
    .project-sub-container {
        margin-top: 1rem;
        width: 12rem;
        font-size: 0.55rem;
    }
    .project-sub-container h5,
    .project-sub-container p {
        font-size: 0.55rem;
    }
    .project-sub-container img {
        width: 12rem;
    }
    .project-items-container {
        margin-top: 0;
    }
}